.pizza_container{
max-width: 280px;
margin: 0 70px 60px 0;
}
.pizza_info{
    font-size: 14px;
    font-weight: 700;
    background-color: #F3F3F3;
}
.pizza_testo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pizza_size{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pizza_dough{
    padding: 12px 21px;
    margin: 4px 0px;
    border-radius: 10px;
}
.pizza_size_items{
    padding: 12px 16px;
    margin: 4px 0px;
    border-radius: 10px;
}
.active{
    background-color: #fff;
}
.img_pizza{
    width: 250px;
    height: 250px;
}
.bottom_pizza_price{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0;
    background-color: #fff;
}
.pizza_price{
    font-weight: 900;
    font-size: 16px;
}
.pizza_number_price{
    padding: 13px 14px;
    border: 1px solid #EB5A1E;
    border-radius: 40px;
    cursor: pointer;
}
.number{
    margin: 0 0 0 8px;
    padding: 2px 7px 4px 7px;
    color: #fff;
    background-color: #EB5A1E;
    border-radius:11px;
}
